.condense {
  margin: 0;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.container {

}

.nav {
  background: #efefef;
  border-right: 2px solid #0087f8;
  box-sizing: border-box;
  padding: 20px 5px;
  height: calc(100vh);
}

.nav-link,
.nav-link:active,
.nav-link:focus,
.nav-link:hover,
.nav-link:visited
.nav-link-selected,
.nav-link-selected:active,
.nav-link-selected:focus,
.nav-link-selected:hover,
.nav-link-selected:visited {
  box-sizing: border-box;
  color: grey;
  display: block;
  font-size: 16px;
  line-height: 3em;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
}

.nav-link-selected,
.nav-link-selected:active,
.nav-link-selected:focus,
.nav-link-selected:hover,
.nav-link-selected:visited {
  color: #0087f8;
}

.content {
  height: calc(100vh);
  overflow-y: scroll;
}
