// General colours
$black: #000;
$blackish: #444;
$light-grey: #ccc;

// Background colours
$background-default: #fafafa;
$background-404: #f55;

// Font colours
$font-colour-default: $black;
$font-colour-404: #f8f8f8;
