@import '../../style/colours';

.dropzone {
  background-color: white;
  border: dotted 2px #0087f8;
  border-radius: 10px;
  box-sizing: border-box;
  display: table;
  height: 80px;
  margin: 20px 10px;
  width: calc(100% - 20px);
}

.dropzone-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.main {
  margin: 5px;
}
