.container {
  color: inherit;
  display: table;
  min-height: calc(100vh);
  text-align: center;
  width: calc(100vw);
}

.main {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.accounts {
  margin: auto;
  max-width: 600px;
}

.keys {
  margin: auto;
  max-width: 600px;
}
