.container {
  margin: 20px 0;
}

.no-files {
  margin: 40px 0;
  text-align: center;
  width: 100%;
}

.submit,
.clear {
  border: none;
  box-sizing: border-box;
  color: #666;
  margin: 5px 0;
  width: 95%;
}

.submit {
  background: #7ea;
  margin-left: 5%;
}

.clear {
  background: #e7a;
  margin-right: 5%;
}
