.container {

}

.main {
  display: block;
  line-height: 30px;
  width: 100%;
}

.logo {

}

.path {

}

.sharing {
  background: white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 2px #0087f8;
  margin: 4px 6px;
  width: 100%;
}

.separator {
  margin: 0;
}
